@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

section{
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
  background-size: 400% 400%;
  position: relative;
  animation: animate 7.5s ease-in-out infinite;
}
div{
    display: flex;
    width: 100%;
    justify-content: center;
  align-items: center;
}
#div1{
    height: 50vh;
}
button{
    border:none;
    background-color:rgba(255,255,255,.2);
    font-size:20px;
    padding:20px 40px;
    text-transform:capitalize;
    cursor:pointer;
    transform:all 0.3s;
    position:relative;
    color: #fff;
  }
  button:before{
    content:"";
    position :absolute;
    width:24px;
    height:24px;
    top:-5px;
      left:-5px;
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    transition:all 0.25s;
  }
  button:hover:before ,button:hover:after{
    width:104%;
    height:110%;
  }
  button:after{
    content:"";
    position :absolute;
    width:24px;
    height:24px;
    bottom:-5px;
      right:-5px;
    border-bottom:2px solid #fff;
    border-right:2px solid #fff;
    transition:all 0.30s;
  }
  a{
    text-decoration: none;
    color: #fff;
  }

h1{
  background: rgba(255,255,255,.2);
  padding: 20px;
  font-size: 50px;
  border-radius: 10px;
  text-align: center;
}

@keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}